{% load static %}



<!-- ADD -->



<div class="modal fade animated bounce" id="addCustomerModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Add New Customer</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Company Name</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Company Name" id="add-customer-company-name-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Phone Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Phone Number" id="add-customer-phone-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Email</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Email" id="add-customer-email-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Address</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Address" id="add-customer-address-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Credit Limit</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Credit Limit" id="add-customer-credit-limit-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">TIN Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="TIN Number" id="add-customer-tin-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">PRZ Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="PRZ Number" id="add-customer-prz-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">VAT Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="VAT Number" id="add-customer-vat-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger">Clear</button>
                                    <button class="btn btn-success notika-btn-success" onclick="addCustomer()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // ADD -->



<!-- UPDATE -->



<div class="modal fade animated bounce" id="updateCustomerModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Update Customer</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-company-name-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-phone-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-email-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-address-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>


                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-credit-limit-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-tin-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-prz-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">CompanyName</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="CompanyName" id="update-customer-vat-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>


                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger">Clear</button>
                                    <button class="btn btn-success notika-btn-success" onclick="updateCustomer()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // UPDATE -->



<!-- DETAILS -->



<div class="modal fade animated bounce" id="customerDetailsModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Update Customer</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Company Name</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Company Name" id="customer-details-company-name-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Phone Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Phone Number" id="customer-details-phone-number-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Email</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Email" id="customer-details-email-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Adress</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Adress" id="customer-details-address-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Account Balance</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Account Balance" id="customer-details-balance-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Credit Limit</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Credit Limit" id="customer-details-credit-limit-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">TIN Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="TIN Number" id="customer-details-tin-number-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">PRZ Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="PRZ Number" id="customer-details-prz-number-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">VAT Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="VAT Number" id="customer-details-vat-number-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Created By</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Created By" id="customer-details-created-by-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Created On</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Created On" id="customer-details-created-at-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                        <div class="col-sm text-start">Last Update</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Last Update" id="customer-details-updated-at-value">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger">Clear</button>
                                    <button class="btn btn-success notika-btn-success" disabled>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // DETAILS -->



<!-- JS -->
<script src="{% static '' %}jquery.min.js"></script>
<script>

    $(document).ready(function() {    
        $('#addCustomerModal').on('hidden.bs.modal', function (){
            customersInitialLoad()
       })

       $('#updateCustomerModal').on('hidden.bs.modal', function (){
            customersInitialLoad()
       })

       $('#customerDetailsModal').on('show.bs.modal', function (event){
            //alert('Clicked')
            if ($(event.relatedTarget).is('a')){
                var customer_id = $(event.relatedTarget).data('object-id')
                $.ajax({
                    url: "{% url 'get_customer_details' %}",
                    data: {
                        customer_id: customer_id
                    },
                    success: function(responseData) {
                        if(responseData.custome_status == "Error"){
                            //alert(responseData.message)
                            swal({
                                title: "Error",
                                text: responseData.message,
                                type: "error"
                            });
                        }else{
                            document.getElementById('customer-details-company-name-value').innerHTML = responseData.details['company_name']
                            document.getElementById('customer-details-phone-number-value').innerHTML = responseData.details['phone_number']
                            document.getElementById('customer-details-email-value').innerHTML = responseData.details['email']
                            document.getElementById('customer-details-address-value').innerHTML = responseData.details['address']
                            document.getElementById('customer-details-balance-value').innerHTML = responseData.details['balance']
                            document.getElementById('customer-details-credit-limit-value').innerHTML = responseData.details['credit_limit']
                            document.getElementById('customer-details-tin-number-value').innerHTML = responseData.details['tin_number']
                            document.getElementById('customer-details-prz-number-value').innerHTML = responseData.details['prz_number']
                            document.getElementById('customer-details-vat-number-value').innerHTML = responseData.details['vat_number']
                            document.getElementById('customer-details-created-by-value').innerHTML = responseData.details['created_by']
                            document.getElementById('customer-details-created-at-value').innerHTML = responseData.details['created_at']
                            document.getElementById('customer-details-updated-at-value').innerHTML = responseData.details['updated_at']
                        }
                    },
                    error: function(responseData, error){
                        //alert("An error ocured! " + error)
                        swal({
                            title: "Error",
                            text: "An error ocured! " + error,
                            type: "error"
                        });
                    }
                });
            }
       })

       $('#updateCustomerModal').on('show.bs.modal', function (event){
            //alert('Clicked')
            if ($(event.relatedTarget).is('a')){
                var customer_id = $(event.relatedTarget).data('object-id')
                sessionStorage.setItem('customer_id_for_update', customer_id)
                $.ajax({
                    url: "{% url 'get_customer_details' %}",
                    data: {
                        customer_id: customer_id
                    },
                    success: function(responseData) {
                        if(responseData.custome_status == "Error"){
                            //alert(responseData.message)
                            swal({
                                title: "Error",
                                text: responseData.message,
                                type: "error"
                            });
                        }else{
                            document.getElementById('update-customer-company-name-value').value = responseData.details['company_name']
                            document.getElementById('update-customer-phone-number-value').value = responseData.details['phone_number']
                            document.getElementById('update-customer-email-value').value = responseData.details['email']
                            document.getElementById('update-customer-address-value').value = responseData.details['address']
                            document.getElementById('update-customer-credit-limit-value').value = responseData.details['credit_limit']
                            document.getElementById('update-customer-tin-number-value').value = responseData.details['tin_number']
                            document.getElementById('update-customer-prz-number-value').value = responseData.details['prz_number']
                            document.getElementById('update-customer-vat-number-value').value = responseData.details['vat_number']
                        }
                    },
                    error: function(responseData, error){
                        //alert("An error ocured! " + error)
                        swal({
                            title: "Error",
                            text: "An error ocured! " + error,
                            type: "error"
                        });
                    }
                });
            }
       })
    })


    function updateCustomer(){
        var customer_id = sessionStorage.getItem('customer_id_for_update')
        
        var company_name = document.getElementById('update-customer-company-name-value').value
        var phone_number = document.getElementById('update-customer-phone-number-value').value
        var email = document.getElementById('update-customer-email-value').value
        var address = document.getElementById('update-customer-address-value').value
        var credit_limit = document.getElementById('update-customer-credit-limit-value').value
        var tin_number = document.getElementById('update-customer-tin-number-value').value
        var prz_number = document.getElementById('update-customer-prz-number-value').value
        var vat_number = document.getElementById('update-customer-vat-number-value').value

        var errors = ""

        if(company_name == ""){
            errors = "Company_name field can not be blank"
        }

        if (errors == ""){
            $.ajax({
                url: "{% url 'update_customer' %}",
                data: {
                    customer_id: customer_id,
                    company_name: company_name,
                    phone_number: phone_number,
                    email: email,
                    address: address,
                    credit_limit: credit_limit,
                    tin_number: tin_number,
                    prz_number: prz_number,
                    vat_number: vat_number
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        //alert(responseData.message)
                        swal({
                            title: "Error",
                            text: responseData.message,
                            type: "error"
                        });
                    }else{
                        //alert(responseData.message)
                        swal({
                            title: "Success",
                            text: responseData.message,
                            type: "success"
                        });
                    }
                },
                error: function(responseData, error){
                    //alert("An error ocured! " + error)
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });

        }else{
            //alert(errors)
            swal({
                title: "Error",
                text: errors,
                type: "error"
            });
        }

    }



    function addCustomer(){

        var company_name = document.getElementById('add-customer-company-name-value').value
        var phone_number = document.getElementById('add-customer-phone-number-value').value
        var email = document.getElementById('add-customer-email-value').value
        var address = document.getElementById('add-customer-address-value').value
        var credit_limit = document.getElementById('add-customer-credit-limit-value').value
        var tin_number = document.getElementById('add-customer-tin-number-value').value
        var prz_number = document.getElementById('add-customer-prz-number-value').value
        var vat_number = document.getElementById('add-customer-vat-number-value').value


        var errors = ""

        if(company_name == ""){
            errors = "Company_name field can not be blank"
        }

        if (errors == ""){
            $.ajax({
                url: "{% url 'add_customer' %}",
                data: {
                    company_name: company_name,
                    phone_number: phone_number,
                    email: email,
                    address: address,
                    credit_limit: credit_limit,
                    tin_number: tin_number,
                    prz_number: prz_number,
                    vat_number: vat_number
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        //alert(responseData.message)
                        swal({
                            title: "Error",
                            text: responseData.message,
                            type: "error"
                        });
                    }else{
                        //alert(responseData.message)
                        swal({
                            title: "Success",
                            text: responseData.message,
                            type: "success"
                        });
                    }
                },
                error: function(responseData, error){
                    //alert("An error ocured! " + error)
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });

        }else{
            //alert(errors)
            swal({
                title: "Error",
                text: errors,
                type: "error"
            });
        }
        
    }

</script>




































































