{% load static %}



<!-- ADD -->



<div class="modal fade animated bounce" id="addManufacturerModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Add New Manufacturer</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Company Name</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Company Name" id="add-manufacturer-company-name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Registration Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Registration Number" id="add-manufacturer-registration-number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Phone Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="number" class="form-control" placeholder="Phone Number" id="add-manufacturer-phone-number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Email</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control " placeholder="Email" id="add-manufacturer-email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Address</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control " placeholder="Address" id="add-manufacturer-address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Status</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <select style="width: 100%;" class="form-control" id="add-manufacturer-status" name="" >
                                                <option value="True">Active</option>
                                                <option value="False">Deactivated</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger">Clear</button>
                                    <button class="btn btn-success notika-btn-success" onclick="addManufacturer()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // ADD -->



<!-- UPDATE -->



<div class="modal fade animated bounce" id="updateManufacturerModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Update Manufacturer</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Company Name</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Company Name" id="update-manufacturer-company-name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Registration Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Registration Number" id="update-manufacturer-registration-number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Phone Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="number" class="form-control" placeholder="Phone Number" id="update-manufacturer-phone-number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Email</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control " placeholder="Email" id="update-manufacturer-email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Address</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control " placeholder="Address" id="update-manufacturer-address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Status</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <select style="width: 100%;" class="form-control" id="update-manufacturer-status" name="" >
                                                <option value="True">Active</option>
                                                <option value="False">Deactivated</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger">Clear</button>
                                    <button class="btn btn-success notika-btn-success" onclick="updateManufacturer()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // UPDATE -->


<!-- DETAILS -->



<div class="modal fade animated bounce" id="manufacturerDetailsModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Manufacturer Details</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Company Name</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Company Name" id="manufacturer-details-company-name">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Registration Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class="" placeholder="Registration Number" id="manufacturer-details-registration-number">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Phone Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="number" class="" placeholder="Phone Number" id="manufacturer-details-phone-number">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Email</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class=" " placeholder="Email" id="manufacturer-details-email">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Address</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label type="text" class=" " placeholder="Address" id="manufacturer-details-address">xxxx.xx</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Active</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <label id="manufacturer-details-status" name="">xxxx.xx</label>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger">Clear</button>
                                    <button class="btn btn-success notika-btn-success" disabled>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // DETAILS -->





<!-- JS -->
<script src="{% static '' %}jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#addManufacturerModal').on('hidden.bs.modal', function (){
            manufacturersInitialLoad()
        })

        $('#updateManufacturerModal').on('hidden.bs.modal', function (){
            manufacturersInitialLoad()
        })

        $('#manufacturerDetailsModal').on('show.bs.modal', function (event){
            //alert('Clicked')
            if ($(event.relatedTarget).is('a')){
                var manufacturer_id = $(event.relatedTarget).data('object-id')
                $.ajax({
                    url: "{% url 'get_manufacturer_details' %}",
                    data: {
                        manufacturer_id: manufacturer_id
                    },
                    success: function(responseData) {
                        if(responseData.custome_status == "Error"){
                            if(responseData.error_type == "Authorisation"){
                                swal({
                                    title: "Error",
                                    text: responseData.message,
                                    type: "error"
                                });
                            }else{
                                swal({
                                    title: "Error",
                                    text: responseData.message,
                                    type: "error"
                                });
                            }

                        }else{
                            document.getElementById('manufacturer-details-company-name').innerHTML = responseData.details['company_name']
                            document.getElementById('manufacturer-details-registration-number').innerHTML = responseData.details['registration_number']
                            document.getElementById('manufacturer-details-phone-number').innerHTML = responseData.details['phone_number']
                            document.getElementById('manufacturer-details-email').innerHTML = responseData.details['email']
                            document.getElementById('manufacturer-details-address').innerHTML = responseData.details['address']
                            document.getElementById('manufacturer-details-status').innerHTML = responseData.details['status']
                        }
                    },
                    error: function(responseData, error){
                        //alert("An error ocured! " + error)
                        swal({
                            title: "Error",
                            text: "An error ocured! " + error,
                            type: "error"
                        });
                    }
                });
            }
       })

        $('#updateManufacturerModal').on('show.bs.modal', function (event) {
        //alert('Clicked')
        if ($(event.relatedTarget).is('a')){
            var manufacturer_id = $(event.relatedTarget).data('object-id')
            //alert(manufacturer_id)
            sessionStorage.setItem('manufacturer_id_for_editing', manufacturer_id)
            $.ajax({
                url: "{% url 'get_manufacturer_details' %}",
                data: {
                    manufacturer_id: manufacturer_id
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        //alert(responseData.message)
                        swal({
                            title: "Error",
                            text: responseData.message,
                            type: "error"
                        });
                    }else{
                        document.getElementById('update-manufacturer-company-name').value = responseData.details['company_name']
                        document.getElementById('update-manufacturer-registration-number').value = responseData.details['registration_number']
                        document.getElementById('update-manufacturer-phone-number').value = responseData.details['phone_number']
                        document.getElementById('update-manufacturer-email').value = responseData.details['email']
                        document.getElementById('update-manufacturer-address').value = responseData.details['address']
                        document.getElementById('update-manufacturer-status').value = responseData.details['status']

                    }
                },
                error: function(responseData, error){
                    //alert("An error ocured! " + error)
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });
        }
    })  
    })

    function updateManufacturer(){
        var manufacturer_id = sessionStorage.getItem('manufacturer_id_for_editing')

        var company_name = document.getElementById('update-manufacturer-company-name').value
        var registration_number = document.getElementById('update-manufacturer-registration-number').value
        var phone_number = document.getElementById('update-manufacturer-phone-number').value
        var email = document.getElementById('update-manufacturer-email').value
        var address = document.getElementById('update-manufacturer-address').value
        var status = document.getElementById('update-manufacturer-status').value

        var errors = ""

        if(company_name == ""){
            errors = "Company Name field can not be blank"
        }else if(registration_number == ""){
            registration_number = "N/A"
        }else if(phone_number == ""){
            errors = "Phone_number field can not be blank"
        }else if(email == ""){
            email = "none@null.com"
        }else if(address == ""){
            errors = "Address field can not be blank"
        }

        if (errors == ""){
            $.ajax({
                url: "{% url 'update_manufacturer' %}",
                data: {
                    manufacturer_id: manufacturer_id,
                    company_name: company_name,
                    registration_number: registration_number,
                    phone_number: phone_number,
                    email: email,
                    address: address,
                    status: status
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        //alert(responseData.message)
                        swal({
                                title: "Error",
                                text: responseData.message,
                                type: "error"
                            });
                    }else{
                        //alert(responseData.message)
                        swal({
                            title: "Success",
                            text: responseData.message,
                            type: "success"
                        });
                    }
                },
                error: function(responseData, error){
                    //alert("An error ocured! " + error)
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });

        }else{
            //alert(errors)
            swal({
                title: "Error",
                text: errors,
                type: "error"
            });
        }
        
    }




    function addManufacturer(){

        var company_name = document.getElementById('add-manufacturer-company-name').value
        var registration_number = document.getElementById('add-manufacturer-registration-number').value
        var phone_number = document.getElementById('add-manufacturer-phone-number').value
        var email = document.getElementById('add-manufacturer-email').value
        var address = document.getElementById('add-manufacturer-address').value
        var status = document.getElementById('add-manufacturer-status').value

        var errors = ""

        if(company_name == ""){
            errors = "Company_name field can not be blank"
        }else if(registration_number == ""){
            registration_number = "N/A"
        }else if(phone_number == ""){
            errors = "Phone_number field can not be blank"
        }else if(email == ""){
            email = "none@null.com"
        }else if(address == ""){
            errors = "Address field can not be blank"
        }

        if (errors == ""){
            $.ajax({
                url: "{% url 'add_manufacturer' %}",
                data: {
                    company_name: company_name,
                    registration_number: registration_number,
                    phone_number: phone_number,
                    email: email,
                    address: address,
                    status: status
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        //alert(responseData.message)
                        swal({
                                title: "Error",
                                text: responseData.message,
                                type: "error"
                            });
                    }else{
                        //alert(responseData.message)
                        swal({
                            title: "Success",
                            text: responseData.message,
                            type: "success"
                        });
                    }
                },
                error: function(responseData, error){
                    //alert("An error ocured! " + error)
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });

        }else{
            //alert(errors)
            swal({
                title: "Error",
                text: errors,
                type: "error"
            });
        }
        
    }

</script>




































































