# Version Control
.git/
.gitignore
.gitattributes
.github/

# Python & Virtual Environments
venv/
.venv/
env/
.env/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Environment and Secrets
.env
.env.*
!.env.example
certs/*.key
certs/*.crt
!certs/*.example

# Database & Backups
*.sqlite3
db.sqlite3
*.db
*.sql
*.tar
*.zip

# Logs and Temp
logs/
tmp/
*.log

# Media & Generated Static
media/
staticfiles/

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Documentation & Extras
documendation/
tokens/
updates/
tests/