APScheduler==3.11.2
asgiref==3.8.0
bson==0.5.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
colorama==0.4.6
cryptography==45.0.7
Django==5.0.3
django-apscheduler==0.7.0
django-filter==24.2
django-humanize==0.1.2
django-mathfilters==1.0.0
djangorestframework==3.15.1
dnspython==2.8.0
gunicorn==23.0.0
humanize==4.9.0
idna==3.11
numpy==2.2.6
packaging==24.2
pandas==2.3.3
pillow==10.4.0
psycopg2-binary==2.9.11
pycparser==3.0
pycryptodome==3.23.0
pymongo==4.17.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytube==15.0.0
pytz==2025.2
pywin32==306
qrcode==8.2
requests==2.32.5
requests-toolbelt==1.0.0
sentry-sdk==2.55.0
six==1.16.0
sqlparse==0.4.4
sweetify==2.3.1
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.3.1
urllib3==2.6.3
waitress==3.0.2
whitenoise==6.8.2
zimra==0.0.1
