{% load static %}



<!-- ADD -->



<div class="modal fade animated bounce" id="addCurrencyModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Add New Currency</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Currency</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Official Currency Name" id="add-currency-currency">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Shortcut</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Currency Code" id="add-currency-shortcut">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Rate</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="number" step="any" class="form-control number_element" placeholder="Equivalent of 1 base Currency" id="add-currency-rate" value="0.00">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger" disabled>Clear</button>
                                    <button class="btn btn-success notika-btn-success" onclick="addCurrency()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // ADD -->



<!-- UPDATE -->



<div class="modal fade animated bounce" id="updateCurrencyModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Update Currency</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="widget-tabs-list">

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Shortcut</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label id="update-currency-shortcut-value">jjj</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Currency</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <label id="update-currency-currency-value">jjj</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr style="background: RGB(0 194 146);">


                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Status</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <select style="width: 100%;" class="form-control" id="update-currency-status-value" name="" >
                                                <option value="True">Active</option>
                                                <option value="False">Deactivated</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Rate <small>(Equivalent of 1 base Currency)</small></div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="number" step="any" class="form-control number_element" placeholder="" id="update-currency-rate-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="add-invoice-footer-buttons" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger" disabled>Clear</button>
                                    <button class="btn btn-success notika-btn-success" onclick="updateCurrency()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- // UPDATE -->





<!-- JS -->
<script src="{% static '' %}jquery.min.js"></script>
<script>
    $(document).ready(function() {


        $('#addCurrencyModal').on('hidden.bs.modal', function (){
            paymentMethodsInitialLoad()
        })

        $('#updateCurrencyModal').on('hidden.bs.modal', function (){
            paymentMethodsInitialLoad()
        })


        $('#updateCurrencyModal').on('show.bs.modal', function (event) {
            if ($(event.relatedTarget).is('a')){
                var currency_id = $(event.relatedTarget).data('object-id')
                sessionStorage.setItem('currency_id_for_updating', currency_id)
                $.ajax({
                    url: "{% url 'get_currency_details' %}",
                    data: {
                        currency_id: currency_id
                    },
                    success: function(responseData) {
                        if(responseData.custome_status == "Error"){
                            //alert(responseData.message)
                            swal({
                                title: "Error",
                                text: responseData.message,
                                type: "error"
                            });
                        }else{
                            document.getElementById('update-currency-shortcut-value').innerHTML = responseData.details['shortcut']
                            document.getElementById('update-currency-currency-value').innerHTML = responseData.details['currency']
                            document.getElementById('update-currency-rate-value').value = responseData.details['rate']
                            document.getElementById('update-currency-status-value').value = responseData.details['status']
                        }
                    },
                    error: function(responseData, error){
                        //alert("An error ocured! " + error)
                        swal({
                            title: "Error",
                            text: "An error ocured! " + error,
                            type: "error"
                        });
                    }
                });
            }
        })  
         
    })

    /*BUTTON FUNCTIONS*/


    function updateCurrency(){
        var rate = document.getElementById('update-currency-rate-value').value
        var status = document.getElementById('update-currency-status-value').value

        var errors = ""
        if (rate == ""){
            errors = "Rate can not be blank"
        }

        if (errors == ""){
            $.ajax({
                url: "{% url 'update_currency' %}",
                data: {
                    currency_id: sessionStorage.getItem('currency_id_for_updating'),
                    rate: rate,
                    status: status
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        swal({
                            title: "Error",
                            text: responseData.message,
                            type: "error"
                        });
                    }else{
                        swal({
                            title: "Success",
                            text: responseData.message,
                            type: "success"
                        });
                    }
                },
                error: function(responseData, error){
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });
        }else{
            swal({
                title: "Error",
                text: errors,
                type: "error"
            });
        }
    }



    function addCurrency(){

        var currency = document.getElementById('add-currency-currency').value
        var shortcut = document.getElementById('add-currency-shortcut').value
        var rate = document.getElementById('add-currency-rate').value

        var errors = ""

        if(currency == ""){
            errors = "Currency field can not be blank"
        }else if(shortcut == ""){
            errors = "Shortcut field can not be blank"
        }else if(rate == ""){
            errors = "Rate selection on status"
        }
        

        if (errors == ""){
            $.ajax({
                url: "{% url 'add_currency' %}",
                data: {
                    currency, currency,
                    shortcut, shortcut,
                    rate, rate
                },
                success: function(responseData) {
                    if(responseData.custome_status == "Error"){
                        //alert(responseData.message)
                        swal({
                            title: "Error",
                            text: responseData.message,
                            type: "error"
                        });
                    }else{
                        //alert(responseData.message)
                        swal({
                            title: "Success",
                            text: responseData.message,
                            type: "success"
                        });
                    }
                },
                error: function(responseData, error){
                    //alert("An error ocured! " + error)
                    swal({
                        title: "Error",
                        text: "An error ocured! " + error,
                        type: "error"
                    });
                }
            });

        }else{
            //alert(errors)
            swal({
                title: "Error",
                text: errors,
                type: "error"
            });
        }
        
    }

    /* // BUTTON FUNCTIONS*/


</script>




































































