{% extends 'partials/base.html' %}
{% block title %} Stock Adjustments {% endblock %}


{% block info %}
<div class="breadcomb-area" style="padding-top: 10px; padding-bottom: 10px; margin: 0px; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <a onclick="history.back()" class="breadcomb-icon">
                                        <i class="notika-icon notika-left-arrow"></i>
                                    </a>
                                    <div class="breadcomb-ctn">
                                        <h2>Batch Adjustments Table</h2>
                                        <p>Welcome to Clarity</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    <a href="{% url 'batches_page' %}" data-toggle="tooltip" data-placement="left" title="Batches" class="btn"><i class="notika-icon notika-menus"></i></a>
                                    <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-print"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block filter %}
<div class="breadcomb-area" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: ;">
                    <div class="breadcomb-list">
                        <div class="row d-flex justify-space-between align-right " style="justify-content: space-between; display: flex;">
                                <!-- <div class="breadcomb-wp" style="background-color:black; border-radius: 5px; border-color: white; border: 2px; border-style: solid; width: 70%;">
                                    <select class="" data-live-search="true" style="width: 45%;" id='search-selector'>
                                        <option value="All">All</option>
                                        <option value="Product">Product Code</option>
                                        <option value="Category">Category</option>
                                        <option value="Description">Description</option>
                                        <option value="Form">Form</option>
                                        <option value="VAT">VAT</option>
                                    </select>
                                    <input class="" type="" name="" style="width: 100%;" placeholder="Search" id='live-search-input' onkeyup ="searchInputValueChanged()">
                                </div> -->
                                <div style="float: left;width: 50%; ">
                                    <span id="search-type"></span>
                                    <span id="page-detail"></span>
                                    <small id="table-summery"></small>
                                </div>
                                <div style="float: right;width: 50%; text-align: right;">
                                    <div>
                                        <span style="padding: 5px;display: none;">
                                            <select class="" data-live-search="true" style="width: 30%;" id='search-selector'>
                                                <option value="all">All</option>
                                                <option value="Product Code">Product Code</option>
                                                <option value="Category">Category</option>
                                                <option value="Description">Description</option>
                                                <option value="Form">Form</option>
                                                <option value="VAT">VAT</option>
                                            </select>
                                        
                                            <input class="" type="" name="" style="width: %;" placeholder="Search" id='live-search-input' oninput="searchInputValueChanged()">
                                        </span>
                                   
                                       <a href="" title="Filter Sales" class="btn btn-primary" type="button"  data-toggle="modal" data-target="#stockAdjustmentsFilterModal" id="simple-batch-adjustments-filter-modal-button">Filters</a>

                                        <button title="Previous Page" id="openModal" data-toggle="tooltip" data-placement="bottom" onclick="previousPage()"><i class="notika-icon notika-left-arrow"></i></button>

                                        <span style="background-color:skyblue; padding: 5px; border-radius: 5%;" id="page-lable">1</span>


                                        <button title="Next Page" id="openModal" data-toggle="tooltip" data-placement="bottom" onclick="nextPage()"><i class="notika-icon notika-right-arrow"></i></button></div>
                                </div>
                           <!--  <div class="d-flex justify-space-between align-center" style="background-color:red;"> hhhh
                                <div class="breadcomb-report">
                                    <div class="breadcomb-wp" style="background-color:red; border-radius: 5px; border-color: white; border: 2px; border-style: solid; width: 70%;">
                                        <select class="" data-live-search="true" style="width: 45%;" id='search-selector'>
                                            <option value="All">All</option>
                                            <option value="Product">Product Code</option>
                                            <option value="Category">Category</option>
                                            <option value="Description">Description</option>
                                            <option value="Form">Form</option>
                                            <option value="VAT">VAT</option>
                                        </select>
                                        <input class="" type="" name="" style="width: 100%;" placeholder="Search" id='live-search-input' onkeyup ="searchInputValueChanged()">
                                    </div>
                                    <div>
                                        <button title="Filter" id="openModal" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-sliders"></i></button>

                                        <button title="Fields" id="openModal" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-columns"></i></button>
                                    </div>
                                </div> 
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
{% load static %}
{% load humanize %}

<!--   MODAL -->

<div class="modal fade animated bounce" id="stockAdjustmentsFilterModal" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content" style="padding: 2rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget-tabs-int">
                            <div class="tab-hd">
                                <h2>Sales Filter</h2>
                            </div>

                            <hr style="background: RGB(0 194 146);">

                            <form class="widget-tabs-list" method="post">
                                {% csrf_token %}
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">From</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="date" class="form-control" id="simple-batch-adjustments-filter-form-date-from-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">To</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="date" class="form-control" id="simple-batch-adjustments-filter-form-date-to-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Action</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <select class="form-control" id="simple-batch-adjustments-filter-form-action-value">
                                                    <option value="All">All</option>
                                                    <option value="Subtract">Subtracted</option>
                                                    <option value="Add">Added</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Product Code</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" id="simple-batch-adjustments-filter-form-product-id-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Batch Number</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" id="simple-batch-adjustments-filter-form-batch-number-value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">Adjustment Reason</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <select data-live-search="true" class=" selectpicker simple_batch_adjustments_filter_form_adjustment_reason_selector_class" id="simple-batch-adjustments-filter-form-adjustment-reason-value" onchange="">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                                        <div class="col-sm text-start">User Account</div>
                                        <div class="nk-int-mk sl-dp-mn ps-0" style="display: flex; justify-content:;">
                                            <div class="form-group ic-cmp-int" style="width:100%;">
                                                <select data-live-search="true" class=" selectpicker simple_batch_adjustments_filter_form_user_account_selector_class" id="simple-batch-adjustments-filter-form-user-account-value" onchange="">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>



                            <hr style="background: RGB(0 194 146);">

                            <div class="btn-list">
                                <div class="footer_buttons" id="" style="display: flex; justify-content:space-between;">
                                    <button class="btn btn-danger notika-btn-danger" onclick="resetFilters()">Reset</button>
                                    <button class="btn btn-success notika-btn-success" onclick="loadQuery()">Load</button>                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /MODALE -->

<div class="notika-status-area" style="height: 100%; background-color:  ;">
    <div class="container" style="background-color: ; height: 100%; overflow-y: scroll;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <!-- products table -->
        <table  class="table table-hover " style="background-color: lightgray;" id="products-table">
           
        </table>
    </div>
</div>
<script src="{% static '' %}jquery.min.js"></script>
<script>

$(document).ready(function() {

    stockAdjustmentsInitialLoad()
    /*document.getElementById('simple-sales-filter-form-date-from-value').value = ""
    document.getElementById('simple-sales-filter-form-date-to-value').value = ""
    document.getElementById('simple-sales-filter-form-receipt-number-value').value = ""*/
    $('#stockAdjustmentsFilterModal').on('show.bs.modal', function (event) {
       // resetFilters()
    })
})


//GLOBAL VARIABLES
var page = 1



function requestData(request_type){
    //alert(request_type)
    var searchQuery = document.getElementById('live-search-input').value
    var search_field = document.getElementById('search-selector').value

    


    //if request type 
    if (request_type == "INITIAL-LOAD"){
        document.getElementById('search-type').innerHTML = "INITIAL-LOAD"

    }else if (request_type == "LIVE-SEARCH"){
        document.getElementById('search-type').innerHTML = "LIVE-SEARCH"

    }else if (request_type == "FORM-FILTER"){
        document.getElementById('search-type').innerHTML = "FORM-FILTER"

        var date_from = document.getElementById('simple-batch-adjustments-filter-form-date-from-value').value
        var date_to = document.getElementById('simple-batch-adjustments-filter-form-date-to-value').value
        var action = document.getElementById('simple-batch-adjustments-filter-form-action-value').value
        var product_id = document.getElementById('simple-batch-adjustments-filter-form-product-id-value').value
        var batch_number = document.getElementById('simple-batch-adjustments-filter-form-batch-number-value').value
        var adjustment_reason = document.getElementById('simple-batch-adjustments-filter-form-adjustment-reason-value').value
        var user_account = document.getElementById('simple-batch-adjustments-filter-form-user-account-value').value

        document.getElementById('stockAdjustmentsFilterModal').style.display = "none"
    }


    //alert(searchQuery)
    //alert("page number: " + page)
    document.getElementById('loader').style.display = "block"
    //alert(product_code + "(((((((((((((((((((((((((((()))):")

    $.ajax({
        url: "{% url 'ajax_batch_adjustments_live_search' %}",
        data: {
            search_key: searchQuery,
            search_field: search_field,
            request_type: request_type,
            page: page,

            //filter form
            date_from: date_from,
            date_to: date_to,
            action: action,
            product_id: product_id,
            batch_number: batch_number,
            adjustment_reason: adjustment_reason,
            user_account: user_account,
         },
        success: function(responseData) {
            $('#products-table').html(responseData.table)
            document.getElementById('table-summery').innerHTML = responseData.table_summery
            document.getElementById('loader').style.display = "none"
            document.getElementById('stockAdjustmentsFilterModal').style.display = "none"
            //alert(responseData.data)
            document.getElementById('page-detail').innerHTML = "[" + responseData.data + "]"

            //page numbers
            var a = responseData.data
            var before = true
            var current_page_number = ""
            var total_pages = ""
            for (l=0; l<=a.length; l++){
                if (a[l]=="o"){
                    before = false
                }
                if (Number(a[l]) || a[l]=="0"){
                    if (before == true){
                        current_page_number = current_page_number + a[l]
                    }else{
                        total_pages = total_pages + a[l]
                    }
                }
            }
            document.getElementById('page-lable').innerHTML = current_page_number
           


        },
        error: function(responseData, error){
            //alert("An error ocured! " + error)
        }
    });
    
    //alert(" down")
}


function searchInputValueChanged(){
    //request type is "LIVE-SEARCH"
    requestData("LIVE-SEARCH")
}

function nextPage(){
    //alert("NEXT-PAGE CLIKED")
    var current_page = document.getElementById('page-lable').innerHTML
    page = Number(current_page) + 1
    //document.getElementById('page-lable').innerHTML = page

    var request_type = document.getElementById('search-type').innerHTML
    //alert(':::::NXT PG' + request_type)
    requestData(request_type)
}

function previousPage(){
    //alert("previousPage CLIKED")
    var current_page = document.getElementById('page-lable').innerHTML
    page = Number(current_page) - 1
    //document.getElementById('page-lable').innerHTML = page

    var request_type = document.getElementById('search-type').innerHTML
    requestData(request_type)
}


function stockAdjustmentsInitialLoad(){
    //request type is "NEXT-PAGE"
    //alert("INITIAL-LOAD")
    requestData("INITIAL-LOAD")
}

function formFilter(){
    //alert("Form filter " + document.getElementById('product-title').value)
    //request type is "FORM-FILTER"
    requestData("FORM-FILTER")
}


/*BUTTON FUNCTIONS*/

function downloadSimpleSalesQuery(){
    var date_from = document.getElementById('simple-sales-filter-form-date-from-value').value
    var date_to = document.getElementById('simple-sales-filter-form-date-to-value').value
    var receipt_number = document.getElementById('simple-sales-filter-form-receipt-number-value').value
    //alert("date date_from " + date_from)
    $.ajax({
  url: "{% url 'download_simple_sales_filtered_sales_csv' %}",
  type: 'GET',
  data: {
    date_from: date_from,
    date_to: date_to,
    receipt_number: receipt_number
  },
  contentType: 'application/json',
  success: function(responseData) {
    const stockAdjustmentsData = responseData.stock_adjustments; 

    // Function to convert JSON data to CSV format
    function convertToCSV(data) {
      const headerRow = Object.keys(data[0]).join(','); // Get headers from first object
      let csvContent = headerRow + '\n'; // Add header row with newline

      for (const sale of data) {
        // Handle Decimal values (assuming you want them as strings)
        const formattedSale = Object.entries(sale).map(([key, value]) => {
          return value.toString(); // Convert Decimal values to strings
        });
        const row = formattedSale.join(',');
        csvContent += row + '\n';
      }

      return csvContent;
    }

    const csvString = convertToCSV(stockAdjustmentsData);

    // Download the CSV file
    const blob = new Blob([csvString], { type: 'text/csv;charset=utf-8' });
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = 'stock_adjustments_data.csv';
    link.click();

    // Revoke the object URL to avoid memory leaks
    URL.revokeObjectURL(link.href);
  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error downloading CSV:", textStatus, errorThrown);
    // You can display an error message to the user here
  }
});    
}


function loadQuery(){
    $('#stockAdjustmentsFilterModal').modal('hide');
    requestData("FORM-FILTER")
}


function resetFilters(){
    document.getElementById('simple-batch-adjustments-filter-form-date-from-value').value = ""
    document.getElementById('simple-batch-adjustments-filter-form-date-to-value').value = ""
    document.getElementById('simple-batch-adjustments-filter-form-action-value').value = "All"
    document.getElementById('simple-batch-adjustments-filter-form-product-id-value').value = ""
    document.getElementById('simple-batch-adjustments-filter-form-batch-number-value').value = ""
    document.getElementById('simple-batch-adjustments-filter-form-adjustment-reason-value').value = ""
    document.getElementById('simple-batch-adjustments-filter-form-user-account-value').value = ""
}
/* // BUTTON FUNCTIONS*/


function deleteBatchAdjustment(batch_adjustment_id){
    $.ajax({
        url: "{% url 'delete_batch_adjustment' %}",
        data: {
            batch_adjustment_id: batch_adjustment_id
        },
        success: function(responseData) {
            swal({
                title: responseData.title || responseData.error_type,
                text: responseData.message,
                type: responseData.type || "error",
            })
        },
        error: function(responseData, error){
            swal({
                title: "Error",
                text: "An error occured! " + error,
                type: "error"
            });
        },
        complete: function(){
            stockAdjustmentsInitialLoad()
        }
    });
}


/*LIVE FUNCTIONS*/


$(document).on('keyup', '.simple_batch_adjustments_filter_form_user_account_selector_class .bs-searchbox input', function(e){
    if (e.key.length === 1 || e.key === "Backspace") {
        var searchQuery = $(this).val();
        $.ajax({
            url: "{% url 'load_live_users_options' %}",
            data: { search_text: searchQuery },
            success: function(responseData) {
                var selectElement = document.getElementById('simple-batch-adjustments-filter-form-user-account-value')
                $("#simple-batch-adjustments-filter-form-user-account-value").empty();
                responseData.options.forEach(optionString => {

                    var newOption = document.createElement("option")
                    var parsedOption = $(optionString)[0]
                    newOption.value = parsedOption.value
                    newOption.text = parsedOption.textContent
                    selectElement.appendChild(newOption)
                })
                $("#simple-batch-adjustments-filter-form-user-account-value").selectpicker('refresh')   
            },
            error: function(responseData, error){
                    //alert("An error ocured! " + error)
            }
        });
    }
})


$(document).on('keyup', '.simple_batch_adjustments_filter_form_adjustment_reason_selector_class .bs-searchbox input', function(e){
    if (e.key.length === 1 || e.key === "Backspace") { 
        var searchQuery = $(this).val();
        $.ajax({
            url: "{% url 'load_live_batch_adjustment_reason_options' %}",
            data: { search_query: searchQuery },
            success: function(responseData) {
                var selectElement = document.getElementById('simple-batch-adjustments-filter-form-adjustment-reason-value')
                $("#simple-batch-adjustments-filter-form-adjustment-reason-value").empty();
                responseData.options.forEach(optionString => {

                    var newOption = document.createElement("option")
                    var parsedOption = $(optionString)[0]
                    newOption.value = parsedOption.value
                    newOption.text = parsedOption.textContent
                    selectElement.appendChild(newOption)
                })
                $("#simple-batch-adjustments-filter-form-adjustment-reason-value").selectpicker('refresh')   
            },
            error: function(responseData, error){
                    //alert("An error ocured! " + error)
            }
        });
    }
})

/* -- LIVE FUNCTIONS*/

</script>
{% include 'partials/footer.html' %}
{% endblock %}